# Настройки базы данных PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=ragdm_user
DB_PASSWORD=secret_postgres_password
=ragdm_db

# Настройки Go-бэкенда
APP_PORT=8080
GIN_MODE=debug # Для продакшена потом поменяем на release